<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"></meta>
  <title>Sam Deacon | Designer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ app.request.getbaseurl }}/web/assets/css/main.css" rel="stylesheet" media="screen">


</head>
  <body>
    
    {%include 'partials/header.php.twig'%}
  <div id="wrapper">    
    {%block body %}{%endblock%}
    {%include 'partials/footer.php.twig'%}  
  </div>
    
  
  
    <script src="{{ app.request.getbaseurl }}/web/assets/js/jquery.js"></script>
  <script src="{{ app.request.getbaseurl }}/web/assets/js/script.js"></script>
  
  </body>
</html>