/******************
HEX COLORS
******************/

$customgreen: #6ab47b;
$borderhead: #599a68;

$navselected: #32673f;

$whiteprime: #fff;
$greyprime: #999;


$h2size: 0.85em;

/******************
IMPORT FONTS COLORS
******************/

@import url(https://fonts.googleapis.com/css?family=Exo:400,700,400italic,700italic|Roboto:400,400italic,700);
