/******************
FOOTER STYLING
******************/

footer{
    font-size: $h2size;
    text-align:center;
    clear: both;
    padding-top: 50px;
    color: $greyprime;
    
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}