

  {%extends 'layouts/main.php.twig' %}
  {%block body %}
    <!-- BODY CONTENT # EXCLUDES NAVBAR -->
  <section>
    <img src="{{ app.request.getbaseurl }}/web/assets/img/sammy.jpg" alt="photograph" class="profile-photo">  
    <h3>About</h3>  
    <p>Hi, my name is Sam Deacon and I'm a web-dev-aholic! </P>
    <p>This is my design portfolio (and future intended blog) I am very interested in front end design, as well as server side frameworks and architecture.
    I enjoy geeking out with all things tech and web related. </p>
    <p>When I'm not coding I enjoy spending time with my wife, family and jack-russell-x-pug called Coco, as well as playing video games, watching movies, reading novels, and drinking good Ales. (Ok plenty of dodgey beer too!)</p>
    <p>I enjoy web development, as well as playing around with CMS's, php frameworks, and front-end design tools like SASS and gulp. This site was built using the php microframework <a href="">Silex</a>, but it has also had a reincarnation using <a href="#">Jekyll.</a></p>
    <p>Frameworks I am familiar (or slowly getting familiar) with include laravel, Symfony, CodeIgniter, Ruby on Rails, Silex, as well as good ol' Wordpress.</p>
    <p>I try to stay active on <a href="{{github}}">github</a>, codepen, youtube, and <a href="{{tweet}}">twitter</a></p>
    
    
    

    



<!-- page specific scripts -->       
  <script>
window.onload = function() {
  document.getElementById('about').className = 'selected';
};
</script>
  </section>

    <!-- BODY CONTENT # EXCLUDES FOOTER -->
  {%endblock body%}
  






