

  {%extends 'layouts/main.php.twig' %}
  {%block body %}
    <!-- BODY CONTENT # EXCLUDES NAVBAR -->
  <section>

  
  <p>About</p>    
    
    
    
    
<!-- page specific scripts -->       
  <script>
window.onload = function() {
  document.getElementById('about').className = 'selected';
};
</script>
  </section>

    <!-- BODY CONTENT # EXCLUDES FOOTER -->
  {%endblock body%}
  






