

  {%extends 'layouts/main.php.twig' %}
  {%block body %}
    <!-- BODY CONTENT # EXCLUDES NAVBAR -->
  <section>

  
  <p>Contact me</p>    
    
    
    
    
<!-- page specific scripts -->    
    <script>
window.onload = function() {
  document.getElementById('contact').className = 'selected';
};
</script>  
  </section>

    <!-- BODY CONTENT # EXCLUDES FOOTER -->
  {%endblock body%}
  






