  {%extends 'layouts/main.php.twig' %}
  {%block body %}
    <!-- BODY CONTENT # EXCLUDES NAVBAR -->
  
  <section>
    <h3>General information</h3>
    <p>I am looking for design/ development work, please don't hesitate to contact me!</p>
    <p>I usually check my emails on a daily basis, but feel free to give me a phonecall if it's real important :-)</p>
  
  </section>
  <section>
    <h3>Contact details</h3>
    <ul class="contact-info">
      <li class="phone"><a href="tel:07737189817">07737189817</a></li>
      <li class="mail"><a href="mailto:{{email}}">{{email}}</a></li>      
      <li class="twitter"><a href="{{tweet}}">@deaconsam10</a></li>
    </ul>
    
    
    
<!-- page specific scripts -->    
    <script>
window.onload = function() {
  document.getElementById('contact').className = 'selected';
};
</script>  
  </section>

    <!-- BODY CONTENT # EXCLUDES FOOTER -->
  {%endblock body%}
  