
  <footer> <!-- footer container -->
    <a href="/">      
        <img src="{{ app.request.getbaseurl }}/web/assets/img/facebook-wrap.png" alt="facebook logo">
    </a>
    <a href="/">      
        <img src="{{ app.request.getbaseurl }}/web/assets/img/twitter-wrap.png" alt="twitter logo">
    </a>
  
  <p>&copy; 2015 Sam Deacon.</p>
  </footer><!-- footer container -->


