
<header> <!-- Header container -->
    <a href="/" id="logo">
    <h1>Sam Deacon</h1>
    <h2>Designer</h2>
    </a>
<!-- nav -->
<nav>
    <ul>
        <li><a href="/" id="home">Portfolio</a></li>
        <li><a href="/about" id="about">About</a></li>
        <li><a href="/contact" id="contact">Contact</a></li>
    </ul>
</nav>

<!-- End nav -->

</header> <!-- End Header container -->

